.container{
    padding-top: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .product-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 380px;
        width: 1200px;
        &__content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 580px;
            height: 259px;
        }
        &__text{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 171px;
            width: 580px;
        }
        &__title{
            height: 84px;
            width: 500px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 42px;
            color: #0A0D27;
        }
        &__subtitle{
            height: 63px;
            width: 500px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
        }
        &__color{
            color: #1343EA;
        }
    }
    .advantages-easy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 48px;
        width: 1200px;
        height: 265px;
    }
    .advantages-profitably{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 48px;
        width: 1200px;
        height: 297px;
    }
    .advantages-safely{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 48px;
        width: 1200px;
        height: 291px;
      }


}
