.key-points-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 864px;
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 744px;
    //height: 57px;
  }
  &__text-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #0A0D27;
  }
  &__text-content{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #0A0D27;
  }
}