.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    &__logo{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 30px;
        color: #1343EA;
        border: 1px solid #FFFFFF;
        text-shadow: white 3px 3px, black 3.5px 3px, black 2.5px 3px, black 3px 3.5px, black 3px 2.5px;
        margin-left: 24px;
    }
    &__link{
        background: #FFFFFF;
        border: 0;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    &__auth{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        height: 40px;
    }
    &_login{
        width: 83px;
        background-color:#fff;
        border: solid 1px darkgray;
        border-radius: 5px;
        margin-right: 8px;
    }
    &_register{
        width: 143px;
        background-color:#1343EA;
        border: solid 1px;
        border-radius: 5px;
        margin-right: 16px ;
        color: #FFFFFF;
    }
}