.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0A0D27;
    height: 166px;
    &__text{
        height: 76px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 38px;
        text-align: center;
        color: #FFFFFF;

    }
}